.coinContainer {
  margin: 50px auto;
  border: 1px solid silver;
  border-radius: 10px;
  width: fit-content;
  background-color: #f6f6f6;
}

.input {
  width: 360px;
  border: 1px solid silver;
  border-radius: 5px;
  height: 30px;
  padding: 5px 10px;
  background-color: #f6f6f6;
  transition: all 0.2s ease;

}

.input:focus {
  outline: none;
  border-color: white;
  background: white;
  box-shadow: rgba(74, 74, 74, 0.24) 0px 3px 8px;
}
.input[type="text"] {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
